# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/
*.html
test-results/
playwright-report/

# Playwright
test-results/
playwright/.auth/

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

allure-results/
allure-report/
allure-history/